.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
.container{
    font-family: Poppins-Bold;
}
.text-center{
    font-size: 30px;
    font-family: Poppins-Bold; /* Cambia la fuente */
    color: black; /* Cambia el color del texto */
}
.text-center2{
    margin-top: -20px;
    font-size: 30px;
    font-family: Poppins-Bold; /* Cambia la fuente */
    color: black; /* Cambia el color del texto */
}
  @font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins-Thin.ttf);
    font-weight: 100;
}
